/* 全体 */
body {
color: #333;
font-size: 13px;
font-family: Verdana, Chicago,ＭＳ Ｐゴシック;
background-color: #eee;
margin-top: 3%;
margin-bottom: 5%;
}

/* 文字 */
a {
color: #ff5500;
text-decoration: none;
}

a:hover {
color: #aa3300;
}

/* 罫線 */
hr {
height: 1px;
border: none;
border-top: solid 1px #777;
}

/* 色々 */
#wrap {
max-width: 650px;
margin: 0 auto;
}

header {
font-size: 15px;
font-weight: bold;
margin-bottom: 0.5em;
border-bottom: solid 1px #777;
padding-bottom: 0em;
}

footer {
margin-top: 1em;
border-top: solid 1px #777;
padding-top: 0.75em;
text-align: center;
height: 3em;
} 

/* その他 */

.box1 {
margin-top: 2px;
margin-right: px;
margin-bottom: 2px;
margin-left: px;
border-top: 1px dashed #ffffff;
}