/* body */
body {
color: #333;
font-size: 13px;
font-family: Verdana, Chicago,ＭＳ Ｐゴシック;
background-color: #eee;
margin-top: 3%;
margin-bottom: 5%;
}



/* linktext */
a {
color: #ff5500;
text-decoration: none;
}

a.c333 {
color: #333;
text-decoration: none;
}

a.c999 {
color: #999;
text-decoration: none;
}

a:hover {
color: #aa3300;
}



/* hr */
hr {
height: 1px;
border: none;
border-top: solid 1px #777;
}

hr.margin {
height: 1px;
border: 0px;
border-top: solid 3em #eee;
}



/* wrap, header, footer */
#wrap {
max-width: 650px;
margin: auto;
}

header {
font-size: 15px;
font-weight: bold;
margin-bottom: 0.5em;
border-bottom: solid 1px #777;
padding-bottom: 0em;
}

footer {
margin-top: 1em;
border-top: solid 1px #777;
padding-top: 0.75em;
text-align: center;
height: 3em;
} 



/* table */
table.sample {
margin-left: auto;
margin-right: auto;
color: #999;
font-size: 10px;
}

td.sample {
text-align: center;
}

table.price {
margin-left: auto;
margin-right: auto;
}

td.product {
width:275px;
}

td.price {
width: 9em;	
}

tr.general{
width:360px;
}

td.general {
line-height: 0.92em;
}